input {
  margin-bottom:20px;
}

.tableDiv {
  margin-top:50px;
  margin-left:20px;
}

table {
  border-collapse: collapse;
}

table caption {
  font-weight: bold;
  text-align: left;
  margin-bottom: 10px;
}

th,
td {
    padding : 8px;
    border: solid 1px #81DAF5;
}

th {
    background-color: white;
    color: black;
    border-style: solid;
    border-color:  rgb(97, 212, 243);;
    text-align: left;
}

td {
  text-align: right;
}

#taxTable {
  visibility: hidden;
}

.buttonLabel {
  position: relative;
  text-align: left;
  padding: 10px;
  color: rgb(104, 36, 230);
  outline: none;
  font-size: 20px;
  margin-bottom:0px;
  margin-top:20px;
  margin-left:20px;
}

.button {
    position: relative;
    text-align: center;
    padding: 10px;
    border: 2px solid rgb(84, 58, 180);
    background: rgba(20, 192, 4, 0.5);
    color: rgb(104, 36, 230);
    outline: none;
    border-radius: 30px;
    font-size: 20px;
    margin-top:0px;
    margin-left:20px;
}

.button:hover {
    color: black;
    background: white;
}

#earningsTable .top35 {
    background-color: lightgreen;
    border-color:rgb(107, 79, 246);
    border-style: solid;
}

.not35 {
    border-style: solid;
    border-color: black;
    opacity: 0.5;
}

p {
  font-size: 1.25rem;
  line-height: 1.5rem;
  text-indent: 0px;
}

#statistics {
  visibility: hidden;
}

#statistics p {
  font-size: 1.25rem;
  line-height: 1.5rem;
  text-indent: 40px;
}

hr {
  margin-top:40px;
  margin-bottom: 40px;
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
  }
  
  .active, .accordion:hover {
    background-color: #ccc;
  }
  
  .accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2212";
  }
  
  .panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }

  .instructions {
    font-weight: bold;
    display: list-item;
    margin-left : 1em;
  }
  
  .example {
    text-indent: 50px;
  }

  .same {
    opacity: .3;
  }

  .number {
    font-weight: bold;
  }

  #met35, #notMet35, #exceeded {
    display: none;
  }
  
  .tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .ui-tabs-vertical { width: 55em; }
  .ui-tabs-vertical .ui-tabs-nav { padding: .2em .1em .2em .2em; float: left; width: 12em; }
  .ui-tabs-vertical .ui-tabs-nav li { clear: left; width: 100%; border-bottom-width: 1px !important; border-right-width: 0 !important; margin: 0 -1px .2em 0; }
  .ui-tabs-vertical .ui-tabs-nav li a { display:block; }
  .ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active { padding-bottom: 0; padding-right: .1em; border-right-width: 1px; }
  .ui-tabs-vertical .ui-tabs-panel { padding: 1em; float: right; width: 40em;}
